.container {
                width: 100%;
                max-width: 100%;
                margin: auto;
                min-width: 250px;
}

.top {
                position: fixed;
                top: 0;
                z-index: 999;
                left: 0;
                margin: auto;
                width: 100%;
                background-color: #ddf;
                border: 1px solid #ccc;
                display: inline-block;
                max-width: 800px;
                font-family: monospace;
                overflow:  auto;
                word-wrap: break-word;         /* All browsers since IE 5.5+ */
                overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
                padding-top: 1%;
                padding-bottom: 1%;
}

.endtoolbar {
                margin-top: 10%;
}


.intestazioni {
                font-size: small;
}

.titolo {
                width: auto;
                font-size: x-large;
                padding-bottom: 2%;
                padding-left: 2%;
}

.toolbaricons {
                padding-left: 3%; 
                display: inline-block;
}

.testo {
                unicode-bidi: embed;
                font-family: monospace;
                line-height: 150%;
                overflow:  auto;
                word-wrap: break-word;         /* All browsers since IE 5.5+ */
                overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
                word-break: break-word;
}

body {
	        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        	border-radius: 2%;
}

a {
        	color: #003;
        	text-decoration: none;
}

.main3d {
                float:left; 
                border-right: 1px solid #ccc; 
                border-left: 5px solid #ccc; 
                border-top: 1px solid #ccc; 
                border-bottom: 1px solid #ccc; 
                padding: 2%;
                width: 95%;
}

.description {
	        font-size: larger;
}

.corpo {
    		width: 100%;
        	max-width: 100%;
        	overflow:  auto;
        	word-wrap: break-word;         /* All browsers since IE 5.5+ */
        	overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.tree {
        	padding-left: 2%;
}

.lista {
        	border-top: 1px solid #999; 
        	border-left: 1px solid #999;
        	line-height: 1.80857143;
        	background-color: #eaeaea;
        	list-style-type:none;
}

.header {
        	width: 20%;
        	display: inline-block;
        	font-size: larger;
}

.value {
        	width: auto;
        	display: inline-block;
        	font-size: larger;
}

textarea {
        	margin-top: 1%;
       	 	padding: 1%;
        	font-size: larger;
        	width: 98%;
		height: 80%;
}


.postingident {
        	padding: 1%;
        	width: 100%;
        	margin-bottom: 1%;
}

.postingident input {
        	font-size:larger;
}

fieldset {
        	background-color: #eee;
        	width: auto;
        	margin-top: 1%;
        	margin-bottom: 1%;
        	border: 1px solid #ccc;
}

legend {
        	font-size: larger;
        	background-color: #eee;
}


.quote
{
        color: #024;
        border-left: 2px solid #009;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
        font-style: oblique;
}

.quote div
{
        color: #600;
        border-left: 2px solid #900;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.quote div div
{
        color: #060;
        border-left: 2px solid #090;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.quote div div div
{
        color: #330;
        border-left: 2px solid #550;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.quote div div div div
{
        color: #033;
        border-left: 2px solid #055;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.signature
{
        color: #042;
}

.textremoved
{
        color: #a00;
        font-weight: bold;
}

.postheaders
{
        border: 1px solid #ccc;
        background-color: #eee;
        margin-top: 0.5%;
        padding: 1%;
        margin-bottom: 0.5%;
        color: #000;
}

.header
{
        width: 20%;
        display: inline-block;
        font-size: large;
}

.value
{
        width: auto;
        display: inline-block;
        font-size: medium;
}

.largeheader
{
        width: 27%;
        display: inline-block;
        color: #a23;
        vertical-align: top;
}

.largevalue
{
        width: 73%;
        display: inline-block;
        vertical-align: top;
        color: #12a;
}


