@import "css/medium.css" screen and (min-width: 640px); 
@import "css/small.css" screen and (max-width: 640px); 


.lista ul
{
	background-color: #E7E7E7;
	padding-left: 2%;
}

.lista ul ul
{
        background-color: #E4E4E4;

}


.lista ul ul ul
{
        background-color: #E0E0E0;
}

.lista ul ul ul ul
{
        background-color: #DDDDDD;
}

.lista ul ul ul ul ul
{
        background-color: #DADADA;
}


.lista ul ul ul ul ul ul
{
        background-color: #D3D3D3;
}

.lista ul ul ul ul ul ul ul
{
        background-color: #CCCCCC;
}

.lista ul ul ul ul ul ul ul ul
{
        background-color: #C5C5C5;
}

.lista ul ul ul ul ul ul ul ul ul
{
        background-color: #BEBEBE;
}


.lista ul ul ul ul ul ul ul ul ul ul
{
        background-color: #BBBBBB;
}

.lista ul ul ul ul ul ul ul ul ul ul ul
{
        background-color: #B8b8b8;
}

.lista ul ul ul ul ul ul ul ul ul ul ul ul
{
        background-color: #B4B4B4;
}

.lista ul ul ul ul ul ul ul ul ul ul ul ul ul
{
        background-color: #B1B1B1;
}

.lista ul ul ul ul ul ul ul ul ul ul ul ul ul ul
{
        background-color: #ADADAD;
}

.lista ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul
{
        background-color: #AAAAAA;
}

.quote
{
	color: #024;
	border-left: 2px solid #009;
        margin-top: 2%;
        margin-bottom: 2%;
	padding-left: 1%;
	font-style: oblique;
}

.quote div
{
	color: #600;
        border-left: 2px solid #900;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 1%;
}

.quote div div
{
        color: #060;
        border-left: 2px solid #090;
        margin-top: 2%;
        margin-bottom: 2%;
	padding-left: 1%;
}

.quote div div div
{
        color: #330;
        border-left: 2px solid #550;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.quote div div div div
{
        color: #033;
        border-left: 2px solid #055;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 1%;
}

.signature
{
	color: #042;
}
